In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
import pickle 
from sklearn.metrics import f1_score, accuracy_score, confusion_matrix

In [9]:
df = pd.read_csv("../datasets/original/dataset.csv")
df.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
0,Fungal infection,itching,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fungal infection,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fungal infection,itching,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fungal infection,itching,skin_rash,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fungal infection,itching,skin_rash,nodal_skin_eruptions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_description = pd.read_csv("../datasets/original/symptom_Description.csv")
df_description.head()

          Disease                                        Description
0   Drug Reaction  An adverse drug reaction (ADR) is an injury ca...
1         Malaria  An infectious disease caused by protozoan para...
2         Allergy  An allergy is an immune system response to a f...
3  Hypothyroidism  Hypothyroidism, also called underactive thyroi...
4       Psoriasis  Psoriasis is a common skin disorder that forms...

In [11]:
df_precaution = pd.read_csv("../datasets/original/symptom_precaution.csv")
df_precaution.head()

,Disease,Precaution_1,Precaution_2,Precaution_3,Precaution_4
0,Drug Reaction,stop irritation,consult nearest hospital,stop taking drug,follow up
1,Malaria,Consult nearest hospital,avoid oily food,avoid non veg food,keep mosquitos out
2,Allergy,apply calamine,cover area with bandage,NaN,use ice to compress itching
3,Hypothyroidism,reduce stress,exercise,eat healthy,get proper sleep
4,Psoriasis,wash hands with warm soapy water,stop bleeding using pressure,consult doctor,salt baths

In [12]:
df_serverity = pd.read_csv("../datasets/original/symptom-severity.csv")
df_serverity.head()

                Symptom  weight
0               itching       1
1             skin_rash       3
2  nodal_skin_eruptions       4
3   continuous_sneezing       4
4             shivering       5

# Data Analyse

In [13]:
print("Dataset shape:", df.shape)

Dataset shape: (4920, 18)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Disease     4920 non-null   object
 1   Symptom_1   4920 non-null   object
 2   Symptom_2   4920 non-null   object
 3   Symptom_3   4920 non-null   object
 4   Symptom_4   4572 non-null   object
 5   Symptom_5   3714 non-null   object
 6   Symptom_6   2934 non-null   object
 7   Symptom_7   2268 non-null   object
 8   Symptom_8   1944 non-null   object
 9   Symptom_9   1692 non-null   object
 10  Symptom_10  1512 non-null   object
 11  Symptom_11  1194 non-null   object
 12  Symptom_12  744 non-null    object
 13  Symptom_13  504 non-null    object
 14  Symptom_14  306 non-null    object
 15  Symptom_15  240 non-null    object
 16  Symptom_16  192 non-null    object
 17  Symptom_17  72 non-null     object
dtypes: object(18)
memory usage: 692.0+ KB

In [15]:
df.describe()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
count,4920,4920,4920,4920,4572,3714,2934,2268,1944,1692,1512,1194,744,504,306,240,192,72
unique,41,34,48,54,50,38,32,26,21,22,21,18,11,8,4,3,3,1
top,Drug Reaction,vomiting,vomiting,fatigue,high_fever,headache,nausea,abdominal_pain,abdominal_pain,yellowing_of_eyes,yellowing_of_eyes,irritability,malaise,runny_nose,chest_pain,chest_pain,blood_in_sputum,muscle_pain
freq,120,822,870,726,378,348,390,264,276,228,198,120,126,72,96,144,72,72

Check null value in dataset

In [16]:
print("Null values:\n", df.isna().sum())

Null values:
 Disease          0
Symptom_1        0
Symptom_2        0
Symptom_3        0
Symptom_4      348
Symptom_5     1206
Symptom_6     1986
Symptom_7     2652
Symptom_8     2976
Symptom_9     3228
Symptom_10    3408
Symptom_11    3726
Symptom_12    4176
Symptom_13    4416
Symptom_14    4614
Symptom_15    4680
Symptom_16    4728
Symptom_17    4848
dtype: int64

In [17]:
cols = df.columns
data = df[cols].values.flatten()

s = pd.Series(data)
s = s.str.strip()
s = s.values.reshape(df.shape)

df = pd.DataFrame(s, columns=df.columns)

df = df.fillna(0)
df.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
0,Fungal infection,itching,skin_rash,nodal_skin_eruptions,dischromic _patches,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Fungal infection,skin_rash,nodal_skin_eruptions,dischromic _patches,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Fungal infection,itching,nodal_skin_eruptions,dischromic _patches,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Fungal infection,itching,skin_rash,dischromic _patches,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Fungal infection,itching,skin_rash,nodal_skin_eruptions,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [18]:
vals = df.values
symptoms = df_serverity['Symptom'].unique()

for i in range(len(symptoms)):
    vals[vals == symptoms[i]] = df_serverity[df_serverity['Symptom']
                                    == symptoms[i]]['weight'].values[0]

d = pd.DataFrame(vals, columns=df.columns)
d = d.replace('dischromic _patches', 0)
d = d.replace('spotting_ urination', 0)
df = d.replace('foul_smell_of urine', 0)

df.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
0,Fungal infection,1,3,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Fungal infection,3,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Fungal infection,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Fungal infection,1,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Fungal infection,1,3,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Training

In [19]:
X = df.drop("Disease", axis=1)
y = df["Disease"]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [21]:
model = LogisticRegression()
model.fit(X_train, y_train)

/Users/chhounsophanon/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [22]:
y_pred = model.predict(X_test)
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9197154471544715

In [ ]:
print('Accuracy =', accuracy_score(y_test, preds)*100)
print('F1-score =', f1_score(y_test, preds, average='macro')*100)

In [23]:
print(metrics.classification_report(y_test, y_pred))

                                         precision    recall  f1-score   support

(vertigo) Paroymsal  Positional Vertigo       0.94      0.94      0.94        18
                                   AIDS       0.81      1.00      0.90        22
                                   Acne       1.00      1.00      1.00        31
                    Alcoholic hepatitis       1.00      0.79      0.88        24
                                Allergy       0.60      0.65      0.63        23
                              Arthritis       1.00      0.91      0.95        23
                       Bronchial Asthma       1.00      0.64      0.78        28
                   Cervical spondylosis       0.94      0.59      0.73        27
                            Chicken pox       1.00      1.00      1.00        21
                    Chronic cholestasis       0.80      0.95      0.87        21
                            Common Cold       1.00      1.00      1.00        34
                                 Dengue       1.00      1.00      1.00        18
                               Diabetes       1.00      1.00      1.00        22
           Dimorphic hemmorhoids(piles)       0.87      0.96      0.91        27
                          Drug Reaction       1.00      0.96      0.98        27
                       Fungal infection       0.92      1.00      0.96        24
                                   GERD       0.79      0.96      0.87        27
                        Gastroenteritis       0.70      0.88      0.78        26
                           Heart attack       0.83      0.62      0.71        32
                            Hepatitis B       1.00      1.00      1.00        19
                            Hepatitis C       0.88      0.82      0.85        17
                            Hepatitis D       1.00      1.00      1.00        28
                            Hepatitis E       1.00      1.00      1.00        22
                           Hypertension       0.60      0.75      0.67        20
                        Hyperthyroidism       1.00      1.00      1.00        23
                           Hypoglycemia       1.00      1.00      1.00        13
                         Hypothyroidism       1.00      1.00      1.00        23
                               Impetigo       0.95      0.80      0.87        25
                               Jaundice       1.00      0.81      0.89        26
                                Malaria       1.00      1.00      1.00        25
                               Migraine       1.00      1.00      1.00        29
                        Osteoarthristis       1.00      0.96      0.98        23
           Paralysis (brain hemorrhage)       0.68      0.93      0.79        30
                    Peptic ulcer diseae       1.00      1.00      1.00        24
                              Pneumonia       1.00      1.00      1.00        23
                              Psoriasis       1.00      1.00      1.00        18
                           Tuberculosis       1.00      1.00      1.00        24
                                Typhoid       1.00      1.00      1.00        25
                Urinary tract infection       0.82      0.90      0.86        20
                         Varicose veins       1.00      1.00      1.00        28
                            hepatitis A       1.00      1.00      1.00        24

                               accuracy                           0.92       984
                              macro avg       0.93      0.92      0.92       984
                           weighted avg       0.93      0.92      0.92       984

In [24]:
pickle.dump(model, open('../models/sophanon-model.pkl', 'wb'))